@model IEnumerable<mvcTestCore.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus-square"></i> Book</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId"><i class="fa fa-edit fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.BookId"><i class="fa fa-book fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.BookId" class="text-danger ml-1"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
